<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Сервисная книга</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="container"><label>Текущий статус обслуживания</label></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Объект обслуживания</th>
                <th>Период</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="operationType: ${operationTypes}">
                <td th:text="${operationType.name}">
                <td th:text="${operationType.resource}">
                <td th:text="${operationType.status}">
                <td th:text="действие">
                    <!--            <td><a th:href="@{'/meter-types/delete/' + ${meterType.id}}" th:text="Удалить"/></td>-->
            </tr>
            </tbody>
        </table>
        <br>

        <form th:action="@{/cars}" th:object="${car}" method="post" class="form-horizontal">
            <div class="container"><label>Текущий пробег автомобиля</label></div>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{mileage}" placeholder="Введите пробег" class="form-control"/>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <br>

        <form th:action="@{/maintenances/add}" th:object="${maintenance}" method="post" class="form-horizontal">
            <div class="container"><label>Добавление работ по обслуживанию</label></div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{mileage}" placeholder="Введите пробег" class="form-control"/>
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{description}" placeholder="Введите описание" class="form-control"/>
            </div>
            <div style="margin-top: 10px" class="form-group">
                <div class="col-sm-6 controls">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-lg-6 col-md-6">
        <div class="container"><label>История сеансов обслуживания</label></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Объекты</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="maintenance: ${maintenances}">
                <td th:text="${maintenance.date}">
                <td th:text="${maintenance.mileage}">
                <td>
                    <span th:each="operation: ${maintenance.operations}">
                        <span th:text="${operation.description} + '. '"></span>
                    </span>
                </td>
                <td th:text="действие">
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>


</body>
</html>