<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Сервисная книга</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="container"><label style="font-weight: bold">Текущий статус обслуживания</label>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Объект обслуживания</th>
                <th>Период</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="operationType: ${operationTypes}">
                <td th:text="${operationType.name}">
                <td th:text="${operationType.resource}">
                <td th:text="${operationType.status}"
                    th:style="${#strings.contains(operationType.status, 'превышен') ? 'color:red;' : 'color:green;'}">
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <br>

        <form th:action="@{/cars/mileage/set}" th:object="${car}" method="post" class="form-horizontal">
            <div class="container"><label style="font-weight: bold">Текущий пробег автомобиля</label>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{mileage}" placeholder="Введите пробег" class="form-control"/>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </form>
        <br>

        <form th:action="@{/maintenance/add}" th:object="${maintenanceDTO}" method="post" class="form-horizontal">
            <div class="container"><label style="font-weight: bold">Добавление работ по обслуживанию</label>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        <label for="maintenance-date">Дата:</label>
                        <input type="date" th:field="*{date}" class="form-control" id="maintenance-date"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="features">Объекты:</label>
                        <select id="features" th:field="*{selectedOperationTypeIds}" class="form-control" multiple="multiple">
                            <option th:each="operationType : ${operationTypes}"
                                    th:value="${operationType.id}"
                                    th:text="${operationType.name}"></option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><input th:field="*{mileage}" placeholder="Введите пробег" class="form-control"/></td>
                    <td><button type="submit" class="btn btn-primary">Добавить</button></td>
                </tbody>
            </table>
            </div>
        </form>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="container"><label style="font-weight: bold">История сеансов обслуживания</label>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Объекты</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="maintenance: ${maintenances}">
                <td th:text="${maintenance.date}">
                <td th:text="${maintenance.mileage}">
                <td>
                    <span th:each="operation: ${maintenance.operations}">
                        <span th:text="${operation.description} + '. '"></span>
                    </span>
                </td>
                <td><a th:href="@{'/maintenance/delete/' + ${maintenance.id}}" th:text="Удалить"/></td>
            </tr>
            </tbody>
        </table>
        </div>
        <br>
    </div>
</div>


</body>
</html>